.SponsorsContainer{
    width: 100%;
    padding: 20px 0 70px 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SponsorsTop{
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    color: #023047;
}

.SponsorsLogo{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Logos{
    width: 150px
}

.Logos1{
    width: 150px
}

@media screen and (max-width: 650px){
    .SponsorsLogo{
        margin-top: 15px;
    }
    .Logos{
        margin-top: 30px;
        width: 120px;
    }
    .Logos1{
        margin-top: 10px;
        width: 120px;
    }
    .SponsorsContainer{
        padding-bottom: 40px;
    }
}